<div class="container">
  <div class="bg-primary" style="align-items: center;">
    <h1 style="padding: 10px;">MWSアカウントの設定</h1>
  </div>
  <h4>ログイン中：<%= @user %></h4>
  <h4><%= link_to "ホーム画面", :controller => 'items', :action => 'show' %></h4>
  <p>アマゾンのMWSアカウントを登録</p>
  <%= form_tag('/items/regist') do %>
    <div class="form-group">
      <%= label :MWS, :AWSkey, 'MWS Token' %>
      <%= text_field :MWS, :AWSkey, class:'form-control', style:'width:200pt;', value:@res1 %>
    </div>
    <div class="form-group">
      <%= label :MWS, :SellerId, 'SellerId' %>
      <%= text_field :MWS, :SellerId, class:'form-control', style:'width:200pt;', value:@res3 %>
    </div>
    <%= submit_tag('更新', class:'btn btn-primary') %>
  <% end %>

</div>
